# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment directories
venv/
env/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Ignore the pickle files (optional, if they are too large or can be regenerated)
*.pkl

# Ignore the CSV files (optional)
*.csv

# Ignore environment variables or secret files
.env

# Ignore system files (macOS and Windows)
.DS_Store
Thumbs.db
